# -----------------------------
# Web app
# -----------------------------
flask
flask_sqlalchemy
wtforms
SQLAlchemy
werkzeug
tornado

# -----------------------------
# Scheduler / Task queue
# -----------------------------
apscheduler
celery
kombu

# -----------------------------
# Data & Forecasting
# -----------------------------
yfinance
statsmodels
scikit-learn

# -----------------------------
# Deep Learning
# -----------------------------
transformers
tf-keras

# -----------------------------
# External API / LLM
# -----------------------------
ollama

# -----------------------------
# Spark
# -----------------------------
pyspark==3.2.1


psycopg2-binary


pandas 
numpy 
tensorflow 
requests 
pytz