{% extends "base.html" %}

{% block title %}{{ stock.symbol }} Chart{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/stock_detail.css') }}">

<h2 class="title">{{ stock.symbol }} - Stock Chart</h2>

<a class="back-link" href="{{ url_for('views.heatmap') }}">Heatmap</a>
<a class="back-link" href="{{ url_for('views.forecasting', symbol=stock.symbol) }}">Forecasting</a>

<!-- TradingView Widget -->
<div class="tradingview-widget-container">
  <div id="tradingview_{{ stock.symbol }}"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget({
    "width": "100%",
    "height": 500,
    "symbol": "NASDAQ:{{ stock.symbol }}",
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "dark",
    "style": "1",
    "locale": "en",
    "toolbar_bg": "#0b0c10",
    "enable_publishing": false,
    "container_id": "tradingview_{{ stock.symbol }}"
  });
  </script>
</div>

<div class="stock-info">
    Price: ${{ stock.price }} | Change: {{ stock.change }}%
</div>


{% endblock %}
