{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">

<h2>US Utilities Sector Stock Forecasting</h2>

<div class="card-container">
    <div class="card">
        <h3>Description</h3>
        <p>
            This project is an all-in-one web application for stock analysis and forecasting.<br>
            It features an interactive dashboard that allows users to view stock details,<br>
            historical price trends, key financial indicators, and more in real time.<br>
            The system supports multiple forecasting models, including ARIMA, SARIMA, SARIMAX,<br>
            and LSTM, along with a backtesting feature that evaluates model accuracy<br>
            using MAE (Mean Absolute Error) as the performance metric.
        </p>
        <p>
            The application can forecast stock prices over 1 week, 6 months, and 1 year,<br>
            and enables model comparison to identify the best-performing approach.<br>
            It also provides the 5 latest relevant news articles.<br>
            Integrated with Airflow, the system trains models and automatically updates data from Monday to Friday,<br>
            storing all information in PostgreSQL.<br>
            This platform empowers users to analyze trends, assess model accuracy,<br>
            and make strategic, data-driven decisions effectively.
        </p>
    </div>
</div>
{% endblock %}
