{% extends "base.html" %}

{% block title %}{{ symbol }} News{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/news.css') }}">

<h2 class="title">{{ symbol }} - News</h2>

<a class="back-link" href="{{ url_for('views.stock_detail', symbol=symbol) }}">Stock Detail</a>
<a class="back-link" href="{{ url_for('views.stock_analytics', symbol=symbol) }}">Analytics</a>
<a class="back-link" href="{{ url_for('views.forecasting', symbol=symbol, model='arima') }}">Forecasting</a>

<div class="news-list">
    {% for n in news %}
        <div class="news-item">
            <a href="{{ n.url }}" target="_blank" class="headline-link">
                {{ n.text }}
            </a>
            <p class="date">{{ n.published[:10] }}</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
